p,
b,
h2 {
  margin: 0px;
  padding: 0px;
}
.modal-main {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(5, 5, 5, 0.285);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-main .booking-review {
  background-color: #f8f0e5;
  border-radius: 9px;
  width: 1000px;
  padding: 10px;
  max-height: 90%;
  overflow-y: scroll;
}
.booking-review .booking-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.booking-review table {
  width: 100%;
}

.booking-review table th {
  padding: 6px;
  background-color: #102c57;
  color: white;
}

.booking-review table td {
  padding-left: 10px;
  padding-top: 5px;
}
.booking-review::-webkit-scrollbar {
  display: none;
}

.booking-review .proceed-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.booking-review .proceed-buttons button{
    height: 40px;
    color: white;
    border-radius: 5px;
    width: 140px;
    background-color: #102c57;
}
.booking-review .proceed-buttons button:disabled{
    background-color: #102c575c;
    outline: none;
    border: none;
}
.booking-review .terms-and-condtions{
    display: flex;
    gap: 10px;
    padding-left: 10px ;
}
.booking-review table .amount{
  font-size: 19px;
}